body {
    padding-top: 20vh;
    /* background-image: url("https://images.pexels.com/photos/629166/pexels-photo-629166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    background-color: #8BC6EC;
    background-image: linear-gradient(90deg, #8BC6EC 1%, #9599E2 100%);


}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.header {
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
}
.cont {
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
}

.cont p {
    line-height: 1em;
    font-weight: 400;
}
.aqi_index {
    font-size: 4em;
    font-weight: bolder;
}
@font-face {
    font-family: "Product Sans";
    src: local("Open Sans"), local("OpenSans"),
        url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
            format("woff2");
}
p.city {
    font-size: 18px;
    font-weight: bolder;
}
p.aqiImpact {
    font-size: 2em;
    font-weight: bold;
    align-items: center;
}
.good {
    padding: 10px 0px;
    border-radius: 15px;
    background: rgb(121,255,94);
    background: linear-gradient(90deg, rgba(121,255,94,1) 0%, rgba(255,165,8,1) 97%);
    color: #ffffff;
    margin: 10px 0px;
}

.moderate {
    padding: 10px 0px;
    border-radius: 15px;
    background: rgb(240,130,20);
    background: linear-gradient(90deg, rgba(240,130,20,1) 13%, rgba(252,255,136,1) 100%); 
    color: #ffffff;
    margin: 10px 0px;
}

.unhealthy-sentitive {
    background-color: #f57e20;
    color: #ffffff;
    padding: 10px 0px;
    border-radius: 15px;
    margin: 10px 0px;
}

.unhealthy {
    padding: 10px 0px;
    background-color: #ed1d24;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px 0px;
}

.very-unhealthy {
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #7e2b7d;
    color: #ffffff;
    margin: 10px 0px;
}

.hazardous {
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #480d27;
    color: #ffffff;
    margin: 10px 0px;
}

.unknown {
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #ebebeb;
    color: #000000;
    margin: 10px 0px;
}
