html {
  margin: 0;
  padding: 0px;
  width: 100%;
  font-family: "Inter", sans-serif;
  /* height: 100vh; */
}

body {
  height: 100%;
  background: rgb(43, 75, 130);
  background: linear-gradient(
    90deg,
    rgba(43, 75, 130, 1) 100%,
    rgba(243, 196, 251, 1) 100%
  );
  background-repeat: no-repeat;
}

header {
  padding: 1px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Josefin Sans";
}

li{
margin: 20px;
}


.indexnow {
  margin: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top > p {
  font: inherit;
  margin: 0;
  font-size: 25px;
  color: #f0abc1;
}

.title {
  color: #f0abc1;
  padding: 60px;
  font-family: "Josefin Sans";
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.info-main {
  font-family: "Josefin Sans";
  
  max-width: 50%;
  color: #94ddde;
  font-size: 23px;
  align-self: center;
}

.info-img {
  max-width: 100%;
}

.info-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.info-main-2 {
  font-family: "Josefin Sans";
  max-width: 50%;
  color: #94ddde;
  font-size: 23px;
  align-self: center;
}

.info-img-2 {
  max-width: 100%;
}

img {
  height: 380px;
}

.checker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px;
  margin: 10px;
  font-family: "Josefin Sans";
  color: #f0abc1;
}

.city {
  font-family: "Josefin Sans";
  color: white;
  font-size: 18px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid gray;
  padding: 5px;
  margin: 5px;
  width: 500px;
}

.city:focus {
  border-bottom: 2px solid #f0abc1;
}

.city:focus::placeholder {
  color: #fefefe;
}

.city::placeholder {
  color: #94ddde;
}

.checker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-by-city {
  display: flex;
  font-family: "Josefin Sans";
  flex-direction: row;
  justify-content: space-between;
}

.search {
  color: rgb(43, 75, 130);
  background-color: #f0abc1;
  margin: 5px;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  border: 0px;
  font-family: "Josefin Sans";
  cursor: pointer;
}

.search:hover {
  background-color: #94ddde;
  color: rgb(43, 75, 130);
  margin: 5px;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  border: 0px;
  font-family: "Josefin Sans";
  cursor: pointer;
}

#content {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.good {
  max-width: 480px;
  border-radius: 15px;
  background: rgb(64, 145, 108);
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
}

.moderate {
  max-width: 480px;
  border-radius: 15px;
  background: rgb(238, 108, 77);
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
}

.unhealthy-sentitive {
  max-width: 480px;
  background: rgb(230, 57, 70);
  color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
}

.unhealthy {
  max-width: 480px;
  background-color: #f44336;
  color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
}

.very-unhealthy {
  max-width: 480px;
  border-radius: 15px;
  background-color: #7e2b7d;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
}

.hazardous {
  max-width: 480px;
  border-radius: 15px;
  background-color: #480d27;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
}

.unknown {
  max-width: 480px;
  border-radius: 15px;
  background-color: #ebebeb;
  color: #000000;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
}

.aqi_index {
  margin: 0;
  font-size: 4em;
  font-weight: bold;
}

.aqiImpact {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}
.cityname {
  font-size: 18px;
  font-weight: bolder;
}
.cont p {
  line-height: 1em;
  font-weight: 400;
}
